* {
  box-sizing: border-box;
}
#app {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.left {
  padding: 8px;
  flex: 1;
}
.scatter {
  height: 300px;
}
.line {
  height: 500px;
}
.right {
  padding: 8px;
  flex: 1;
}
.bar {
  height: 500px;
}
.pie {
  height: 300px;
}